.textHomeContainer{
	z-index: 11;
	top:20% ;
	left: 5%;
	font-family: 'Nexa', sans-serif;
	font-weight: 700;
}
.textHomeContainer h2{
	font-size: 7rem;
	color: #ffffff;
	text-align: center;
	margin-bottom: 2rem;
	font-weight: 700;
	text-shadow: 1px 1px 12px #333333;

}
.textHomeContainer h3{
	font-size:5rem;
	color: #ffffff;
	text-align: left;
	margin-bottom: 2rem;
	text-shadow: 1px 1px 12px #333333;

}
@media (width >= 900px) {
	.textHomeContainer{
		top: 30%;
			width: 50%;

	}
	.textHomeContainer h2{
		font-size: 7rem;
		text-align: left;
	}
}