html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 1.6rem;              /* Tamaño base legible */
  background-color: #f8f8f8;      /* Fondo suave, no blanco puro */
  color: #010100;                    /* Texto oscuro para buena legibilidad */
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.6;               /* Mejor lectura */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}
.swal-custom-height {
  min-height: 300px; /* Ajusta el valor según lo que necesites */
  max-height: 500px;
  font-size: 2rem;
}

@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-ExtraLight.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Nexa';
  src: url('/fonts/Nexa-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	padding: 0;
	margin: 0;
}
/* Cambia el fondo y el borde de cada item */
.swipeable-list{
  padding: 1rem;
}
.swipeable-list-item__trailing-actions{
  background: #ff5448 !important;
  border-radius: 2rem !important;
  box-shadow: 0 2px 8px #0001 !important;
  transition: box-shadow 0.2s;
  color: #fff !important;
  font-size: 3rem !important;
  font-weight: 700 !important;
  border: none !important;
  text-align: center !important;
  display: flex !important;
  align-items: center !important;
  gap: 1rem !important;
}

/* Cambia el color del contenido al hacer swipe */
.swipeable-list-item__content {
  color: #333;
  font-size: 1.3rem;

}
.swipeable-list-item{
  transition: box-shadow 0.2s;
}
.swipeable-list-item:hover {
box-shadow:
    0 8px 24px rgba(255, 204, 1,0.13),
    0 1.5px 6px rgba(255, 204, 1,0.06),
    0 0.5px 1.5px rgba(255, 204, 1,0.03);
}

@media (width >= 900px) {
  .swipeable-list{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 1rem !important;
    border-radius: 2rem !important;
  }
  .swipeable-list-item{
    border-radius: 2rem !important;
  }
}