.formContentContainer {
	width: 90%;
	background-color: #ffffff;
	border-radius: 2rem;
	padding: 1rem 2rem;
	height: auto;
	margin-bottom: 4rem;
	border: 1px solid #e3e3e3;
	font-family: 'Nexa', sans-serif;
	box-shadow:
    0 2px 8px 0 rgba(0,0,0,0.08),
    0 1.5px 6px 0 rgba(0,0,0,0.06),
    0 0.5px 1.5px 0 rgba(0,0,0,0.03);
}
.formContentForm{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.textContent{
	text-align: center;
	color: #ffcc01;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 1rem;
	font-weight: 700;
}
.formContainerSelect{
	display: flex;
	flex-direction: column;
}
.select{
	border: 1px solid #e3e3e3;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	height: 6rem;
	background-color: white;
	border-radius: 2rem;
	padding: 1rem;
}
.buttonSend{
	width: 100%;
	margin: 0 auto;
	height: 6rem;
	border: none;
	background-color: #ffcc01;
	border-radius: 1rem;
	font-weight: 700;
	font-size: 2rem;

}
@media (width >= 900px) {
	.formContentContainer{
		width: 40%;
	}
	.formContentInputContainer{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 1rem;
	}
	.buttonSend{
		margin-top: 1rem;
	}
}