.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  left: 50%;
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
}


.createSection{
  width: 90%;
  display: flex;
  position: relative;
top: 10%;
justify-content: flex-end;}

.createSectionButton{
  width: 20rem;
  height: 5rem;
  background-color: #ffcc00;
  color: #010100;
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 1rem;
  font-family: 'Nexa', sans-serif;
  font-weight: 700;
}
.createSectionButton:hover{
  cursor: pointer;
  background-color: #ffffff;
  color: #ffcc00;
}

@media (width >= 900px) {
  .createSection{
    width: 60%;

  }
  .createSectionButton{
    width: 60%;
    max-width: 20rem;

  }

}