.formContainer{
	width: 90%;
	background-color: #ffffff;
	border-radius: 2rem;
	padding: 1rem 2rem;
	height: auto;
	margin-bottom: 4rem;
	border: 1px solid #e3e3e3;
}
.form{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.textForm{
	text-align: center;
	color: #ffcc01;
	font-size: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;

	border-radius: 1rem
}
.containerSelect{
	display: flex;
	flex-direction: column;
}
.select{
	border: 1px solid #e3e3e3;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	height: 6rem;
	background-color: white;
	border-radius: 2rem;
	padding: 1rem;
}
option:hover{
	background-color: #ffcc01;
	color:#ffffff;
}
.containerInput{
	display: flex;
	flex-direction: column;
}
.checkboxInput {
	width: auto;
	height: 2rem;
	margin-top: 0.5rem;
  }

.buttonSend{
	width: 100%;
	margin: 0 auto;
	height: 6rem;
	border: none;
	background-color: #ffcc01;
	border-radius: 1rem;
	font-weight: 700;
	font-size: 2rem;
}
@media (width >= 900px) {
	.formContainer{
		width: 40%;
	}
	.formInputsContainer{
		display: grid;
		grid-template-columns: repeat(2,1fr);
		gap: 1rem;
	}
	.buttonSend{
		margin-top: 1rem;
	}
}